{% extends 'layout.html' %}

{% block content %}

<div class="container">
	<form method="post" action="/login" enctype="multipart/form-data">
	  <h1>	Login</h1>
	  <p>	Please Login using the form below</p>
	  <label for="username">Username:</label>
	  <input id="username" type="text" placeholder="Enter Username" name="username" class="form-control"/>
	  <div class="form-group"></div>
	  <label for="password">Password:</label>
	  <input id="password" type="password" placeholder="Enter Password" name="password" class="form-control"/><br/>
	  <button type="submit" class="btn btn-primary">Login</button>
	</form>
  </div>