{% extends 'layout_admin.html' %}

{% block content %}

<body id="page-top" class="fixed-nav sticky-footer bg-dark">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i>
         <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                            <th>Car Name</th>
                            <th>Rental Fee</th>
                            <th>Costumer Name</th>
                            <th>Costumer Id</th>
                            <th>Costumer Email</th>
                            <th>Costumer Adress</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Action</th>
                    </tr>
                
                    </thead>
                    <tbody>
                            {% for order in orders %}
                    <tr >
                
                            <td>{{order.name}}</td>
                            <td>{{order.rental_fee}}</td>
                            <td>{{order.c_name}}</td>
                            <td>{{order.ktp}}</td>
                            <td>{{order.c_email}}</td>
                            <td>{{order.c_adress}}</td>
                            <td>{{order.start_date}}</td>
                            <td>{{order.end_date}}</td>
                            <td>{{order.name}}</td>
                        <td><center><a href = "customers/{{customer.id}}/edit" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit&nbsp;&nbsp;</a>
                            <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button></center></td>
                
                    </tr>
                    {% endfor %}
        </tbody>
          
        </table>
      </div>
    </div>
  


