{% extends 'layout.html' %}

{% block content %}



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">body {background-color: #cccccc;}</style>
</head>
<body>
    <!DOCTYPE html>
    <html>
    <head>
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <h4>Trasnfer the amount of price to : 3567890-987654698087657890</h4>
                <!-- Photos upload Form -->
                <p>And upload your your invoice here </p>
                <form id="upload-photos" method="post" action="/payment" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="photos-input">File input</label>
                        <input id="photos-input" type="file" name="photos[]" multiple="multiple" >
                        <p class="help-block">Uppppppppppppppppppppp</p>
                    </div>
                    <input type="hidden" name="csrf_token" value="just_a_text_field" />
                    <input class="btn btn-default" type="submit" name="Photo Uploads" value="Upload Photos" />
                </form>
                <br/>
                <!-- Progress Bar -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>

                    <p>Your transaction data </p>
                    <li>Car :</li>
                    <li>Name  :</li>
                    <li>Email :</li>
                    <li>start date :</li>
                    <li>end date :</li>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <!-- Photos Album Container -->
        
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>